<% layout('/layouts/boilerplate') %>
    <h1>Admin Portal</h1>
    <ul>
        <li><a href="/admin/new">Create new Summary</a>
        </li>
        <li><a href="/admin/list">List All Summary</a>
        </li>
        <li><a href="/summary">Visit as user</a></li>
    </ul>
    