<% layout('/layouts/boilerplate') %>
    <h2>Add New Summary</h2>
    <form action="/admin" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">
            Title:
            </label> <br> 
            <input type="text" name="title"
            id="title" placeholder="title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description: </label><br>
            <textarea id ="description" placeholder="description"
            name="description" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <button class="btn btn-success">POST</button>
    </form>
