<% layout('/layouts/boilerplate') %>

<section class="card shadow p-3 mb-3 bg-body rounded">
<p class="h1"><a href="https://github.com/pkkrsingh877" target="_blank">Rapidbuzz Returns</a></p>
<p class="text-muted">YouTuber, Blogger • Aurangabad, Bihar</p>
<p>
Learning Web Development & Web Design. I am also a YouTuber and Blogger. I create content about Web design & development and programming.</p> <p>
<b>Work:</b> Rapidbuzz Returns<br>
<b>Education:</b> Sachchidanand Sinha College<br>
<b>Hometown:</b> Aurangabad, Bihar<br>
<b>Website:</b> <a href="https://letmestudyhere.wordpress.com/" target="_blank">Rapidbuzz Returns</a></p>
</section>