<% layout('/layouts/boilerplate') %>

<section class="d-flex flex-column justify-content-center align-items-center card shadow p-3 mb-3 bg-body rounded">
    <img src="https://i.imgur.com/6xal4Ue.jpg" alt="Picture of Prabhat Kumar" class="profileImage mb-3">
    <div class="icons col-sm-6 col-sm-offset-3">
        <a href="https://www.linkedin.com/in/prabhat-kumar-54bb5a199/" target="_blank"><span class="bi bi-linkedin icon" style="font-size: 2rem; color: rgba(31, 30, 30, 0.993);"></span></a>
        <a href="https://github.com/pkkrsingh877"><span class="bi bi-github icon" style="font-size: 2rem; color: rgba(31, 30, 30, 0.993);"></span></a>
        <a href="https://misssummary.prabhatkumar123.repl.co/"><span class="bi bi-link-45deg icon" style="font-size: 2rem; color: rgba(31, 30, 30, 0.993);"></span></a>
        <a href="https://twitter.com/Rapidbuzz"><span class="bi bi-twitter icon" style="font-size: 2rem; color: rgba(31, 30, 30, 0.993);"></span></a>
    </div>
    <p class="h5">@pkkrsingh877</p>
    <p class="mb-1 nParagraph ">Prabhat Kumar</p>
    <p class="mb-1 nParagraph ">Satyendra Nagar, Aurangabad, Bihar</p>
    <p class="text-muted nParagraph ">YouTuber, Blogger, Full Stack Web Developer</p>
</section>

<section class="d-flex flex-column justify-content-center align-items-center card shadow p-3 mb-3 bg-body rounded">
    <p class="h5">About This Website: </p>
    <p class="text-muted nParagraph ">An English Summary Website</p>
    <p class="mb-1 p-3 nParagraph ">Hi Guys! I am Prabhat Kumar from Rapidbuzz Returns. Here on this website, you can find a lot of summaries of English Proses, Poems, Stories and Dramas, etc. There’s a lot of content on it’s way.</p>
    <p>
        – <em>Prabhat Kumar</em> from <strong>Rapidbuzz Returns</strong></p>  
</section>