<% layout('/layouts/boilerplate') %>
    <h1>English Summary</h1>
    <ul>
        <li>
            <a href="/summary">
                Go to the summary
                </a>
        </li>
    </ul>
<hr>
    <h2>Most Popular Summaries</h2><hr>
    <h2>New Summaries</h2><hr>
    <h2>Reccommended Summaries</h2>
